@mixin inputs {
  padding: 8px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid $grey-main;
}

$grey-pink: #B8B8D1;
$grey-main: #d9bee4;
$blue-main: #5B5F97;
$yellow-main: #FFC145;
$light-main: #FFFFFB;
$purple: #9f6bff;
$green: #2BFCB4;
