@import 'base';

.header {
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 20px 30px;
  height: 65px;
  background-color: $blue-main;
  color: rgb(228, 228, 228);

  .total {
    h2 {
      color: $green;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }
  }

  .currency-container {
    font-size: 20px;
    text-align: right;
    font-weight: 300;

    .currency {
      font-size: 30px;
      font-weight: 500;
      color: $green;
    }
  }
}

