.header {
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 20px 30px;
  height: 65px;
  background-color: #5B5F97;
  color: #e4e4e4;
}

.header .total h2 {
  color: #2BFCB4;
  font-size: 40px;
  font-weight: 500;
}

.header .total p {
  font-size: 18px;
  font-weight: 300;
}

.header .currency-container {
  font-size: 20px;
  text-align: right;
  font-weight: 300;
}

.header .currency-container .currency {
  font-size: 30px;
  font-weight: 500;
  color: #2BFCB4;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.home-page .login-container {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

.home-page .login-container .heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 13vh;
  margin-left: 100px;
}

.home-page .login-container .heading h1 {
  font-size: 35px;
  font-weight: 500;
  color: #5B5F97;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 10px;
}

.home-page .login-container .heading h2 {
  font-size: 20px;
  font-weight: 300;
  color: #555555;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.home-page .login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10vh;
  height: 70%;
  width: 70%;
}

.home-page .login-container .login-form .login-inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60%;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .login-container .login-form .login-inputs-container label {
  font-size: 16px;
  color: #5f5f5f;
}

.home-page .login-container .login-form .login-inputs-container input {
  margin-top: 3px;
  padding: 15px;
  width: 400px;
  background-color: white;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid transparent;
  outline: none;
}

.home-page .login-container .login-form .login-inputs-container button {
  background-color: #9f6bff;
  color: white;
  padding: 15px;
  margin-top: 16px;
  width: 425px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 3px;
  outline: none;
}

.home-page .login-container .login-form .login-inputs-container button:hover {
  background-color: #a678fd;
}

.home-page .login-container .login-form .login-inputs-container button:disabled {
  background-color: rgba(219, 219, 219, 0.582);
  cursor: default;
  color: #9b9b9b;
}

.home-page .login-container .login-form .login-inputs-container .invalid-pass, .home-page .login-container .login-form .login-inputs-container .invalid-email {
  border: 1px solid #fd3434;
}

.home-page .login-container .login-form .login-inputs-container .pass-error, .home-page .login-container .login-form .login-inputs-container .email-error {
  position: absolute;
  color: #fd3434;
  font-size: 13px;
}

.home-page .login-container .footer {
  font-size: 15px;
  color: #616161;
  margin-bottom: 10px;
}

.home-page .info-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9bee4;
  height: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #464646;
}

@media (max-width: 768px) {
  .mobile {
    background-color: #9f6bff;
    color: #e7e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
}

.expenses-form {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #5B5F97;
  color: #e1e1e1;
}

.expenses-form input, .expenses-form select, .expenses-form textarea, .expenses-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  resize: none;
  margin-left: .5vw;
  margin-bottom: 5px;
  padding: 6px;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid transparent;
  outline: none;
}

.expenses-form input, .expenses-form textarea {
  height: 21px;
}

.expenses-form select {
  cursor: pointer;
  height: 35px;
}

.expenses-form button {
  height: 35px;
  background-color: #2BFCB4;
  width: 135px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  margin-bottom: 17px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.expenses-form button:hover {
  background-color: #2aeca8;
}

.expenses-form button.edit {
  background-color: #FFC145;
}

.expenses-form button.edit:hover {
  background-color: #ffc653;
}

.expenses {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #535353;
  font-weight: 400;
}

.expenses th, .expenses td {
  padding: 15px 10px;
  min-width: 100px;
}

.expenses .currency {
  width: 200px;
}

.expenses .expense {
  font-weight: 600;
  color: #ff5d5d;
}

.expenses .cambio {
  font-weight: 600;
  color: #5959ff;
}

.expenses .description {
  text-align: left;
  padding-left: 3vw;
}

.expenses thead {
  background-color: #5B5F97;
  color: #ececec;
  font-weight: lighter;
}

.expenses thead tr {
  font-size: 18px;
}

.expenses tbody tr:nth-of-type(even) {
  background-color: #7c7e9721;
}

.expenses tbody tr.editing {
  background-color: #ffc653b2;
}

.expenses button {
  height: 35px;
  background-color: #ff5d5d;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  margin-bottom: 17px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 0 2px;
  color: #2e2e2e;
}

.expenses button:hover {
  background-color: #ec5555;
}

.expenses button.edit {
  background-color: #FFC145;
}

.expenses button.edit:hover {
  background-color: #ffc653;
}

.no-expenses-text {
  text-align: center;
  margin-top: 20vh;
  font-size: 30px;
  font-weight: 300;
  color: #525252;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
  height: 100vh;
  background-color: #f3f3f3;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */